@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

#title{
    background-color: #ff4c68;
}
h1{
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.5;
    color: white;
    font-size: 3rem;
}
.container-fluid{
    padding: 3% 15%;
}